ALTER TABLE coupons ADD COLUMN IF NOT EXISTS status TEXT DEFAULT 'published'; ALTER TABLE coupons ADD COLUMN IF NOT EXISTS published_at TIMESTAMPTZ DEFAULT NOW(); UPDATE coupons SET published_at = created_at WHERE published_at IS NULL;
